body{
	background-color: #4310A0;
	font-family: 'Righteous', cursive;
}


#title{
	text-align: center;
	font-size: 40px;
	color: white;
}
#uitleg{
	text-align: center;
	color: white;
	margin-top: -10px;
}
#description{
	text-align: center;
	color: white;
	width: 350px;
	display: block;
	margin: -5px auto; 
}
#game-container{
	width: 1350px;
	height: 700px;
	margin: 0 auto; 
}

#game-buttons{
	margin-left: 300px;
}

#button1, #button2, #button3{
	position: absolute;
	width: 175px;
	height: 75px;
	color: white;
	background-color: red;
	border: 2px solid black;
	cursor: grab;
}

#button1{
	top: 600px;
	left: 425px;
}
#button2{
	top: 600px;
	left: 925px;
}
#button3{
	top: 600px;
	left: 675px;
}

#sponge{
	width: 1350px;
	height: 600px;
	margin-left: 74px;
	margin-right: 250px;
	margin-top: -1060px;
}
#inventoryItem{
	position: absolute;
	top: 25px;
	width: 90px
}
